// Front End Color Codes
// $table-header-bg: #BBEDE1;
// $table-light-green: #E6FAF5;
// $header-color: #4B7F73;
// $main-bg: #F7FDF7;
// $side-bar-bg: #F1FFFC;

.container {
  background-color: #F7FDF7;
  padding-top: 10px;
}

.txn-table {
  border-bottom: 2px solid #4B7F73;
  margin-top: 20px;
  border-radius: 0rem;
}

.table-header {
  display: flex;
  background-color: #BBEDE1;
  border-top: 2px solid #4B7F73;
  // border-left: 2px solid #4B7F73;
  // border-right: 2px solid #4B7F73;
}

.transaction {
  display: flex;
}

.column {
  flex: 1;
  // border: 1px solid #000;
  text-align: center;
  border-left: 2px solid #4B7F73;
  border-right: 2px solid #4B7F73;
}


#table-title {
  color: #4B7F73;
}

.odd-transaction {
  display: flex;
  background-color: white;
}

.even-transaction {
  display: flex;
  background-color: #E6FAF5;

}
