// Front End Color Codes
// $table-header-bg: #BBEDE1;
// $table-light-green: #E6FAF5;
// $header-color: #4B7F73;
// $main-bg: #F7FDF7;
// $side-bar-bg: #F1FFFC;

.container {
  background-color: #F7FDF7;
  padding-top: 25px;
}

.txn-table {
  margin-top: 20px;
  border-bottom: 2px solid #4B7F73;
  border-top: 2px solid #4B7F73;
  border-right: 2px solid #4B7F73;
  // border-radius: 15px;

}

.table-header {
  display: flex;
  background-color: #BBEDE1;
}

.transaction {
  display: flex;
}

.column {
  width: calc(100% / 7);
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  border-left: 2px solid #4B7F73;
  // border-right: 2px solid #4B7F73;

  input {
    width: 100%;
    border: none;
    border-color: transparent;
    text-align: center;
  }

}

.column input {
  width: 100%;
  border: none;
  border-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
}


#table-title {
  color: #4B7F73;
}

.odd-transaction {
  display: flex;
  background-color: #E6FAF5;
}

.even-transaction {
  display: flex;
  background-color: white;

}

.fa-heart {
  color: #b2c9b2;
}

.plus-sign {
  font-size: 24px; /* Adjust the font size as needed */
  color: green; /* Adjust the color as needed */
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
  /* You can add additional styling here */
}
