<div class="d-flex justify-content-start align-items-center">
  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h5 class="card-title mb-3">Followers</h5>
      <p class="card-text fs-5"><%= followers_count %></p>
    </div>
  </div>
