  <div class="card border-0 shadow-sm">
    <div class="card-body">
      <h5 class="card-title mb-3">Following</h5>
      <p class="card-text fs-5"><%= following_count %></p>
    </div>
  </div>
</div>
