<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%# to add GPT partial %>
      </div>
      <div class="col-md-8">
        <%= render partial: 'transactions/index' %>
      </div>
    </div>
  </div>
<% end %>
