
<div class="mx-4 mt-4 d-flex border border-4 border-success gap-4 justify-content-between rounded-4" style="background: antiquewhite;">
  <div>
    <%= image_tag "landing", class: "img-fluid rounded-4", style: "height: 80vh; width: auto;" %>
  </div>
  <div style="height: 80vh;" class="d-flex px-4 mx-4 flex-column justify-content-center">
    <h1 style="color: green; font-size: 3.2rem;">AssetMint</h1>
    <p style="font-size: 2.2rem;">
      Social Network for Market Enthusiasts
    </p>

    <hr> <br>

    <ul>
      <li>Log and consolidate your trades</li>
      <li>Follow personalised Market News</li>
      <li>Get inspiration from other traders</li>
      <li>Get Telegram alerts based on interesting trades</li>
    </ul>
  </div>
</div>
