<div class="container bg-white shadow-container">
  <div>
    <% if @news_snippets.length == 0 %>
      <%= link_to 'Generate News Snippets', dashboard_path(refresh_news: true), class: "btn btn-primary" %>
    <% end %>
    <% @news_snippets.each do |snippet| %>
        <h3 class="news-feed-header">
          <%= snippet.title %>
        </h3>
        <p class="news-feed-text">
          <%= snippet.content %>
        </p>
    <% end %>
  </div>
</div>
