<div class="container bg-white shadow-container">
  <div>
    <% @news_snippets.each do |snippet| %>
        <h3 class="news-feed-header">
          <%= snippet.title %>
        </h3>
        <p class="news-feed-text">
          <%= snippet.content %>
        </p>
    <% end %>
  </div>
</div>
