<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="shadow-container mb-4 p-4" style="border-color: green;">
          <p>
            <i class="fas fa-chart-line" style="margin-right: 0.5rem;"></i>What's happening today
          </p>
          <p>
            <%= @summary %>
          </p>
        </div>
        <%= render partial: 'news_snippets/dashboard' %>
      </div>
      <div class="col-md-8">
        <%= render partial: 'transactions/index' %>

        <% @peers_txns.each do |txn| %>
          <%= render partial: 'transactions/user_txn', locals: { txn: txn } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
