// File: app/assets/stylesheets/components/tables.scss



.header-style {
  background-color: #BBEDE1;  // Existing green color
  color: black;
  text-align: center;
  font-weight: normal;  // Make header bold as requested
  padding: 8px;  // Adds padding to header cells
}

.email-column {
  font-weight: normal;  // Make sure email font is not bold
  padding: 6px;
  text-align: center;
}


.action-column {
  text-align: center;  // This should center the button text
  display: flex;
  justify-content: center;  // This centers the button within the column
  align-items: center;  // This ensures the button is centered vertically if there's more vertical space
  padding: 6px;
}

.action-column > * {  // Ensuring all direct children of action-column are centered
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-column form {
  display: flex;
  justify-content: center;  // Center form content horizontally
  align-items: center;  // Center form content vertically
  width: 100%;  // Form takes full width of its container
}

.action-column form button {
  width: auto;  // Keeps the button width automatically determined by its content
  margin: 0 auto;
}


.even-row {
  background-color: #e4f8f3;  // Existing apple green for even rows
  padding: 6px;  // Adds padding to each row

}

.odd-row {
  background-color: #fff;  // White for odd rows
  padding: 6px;  // Adds padding to each row

}
.row {
  margin-left: 0;
  margin-right: 0;
}

form {
  width: 100%;  // Ensure the form takes up the full column width
}

form button {
  width: auto;  // Ensure the button width is automatically determined by its content
  margin: 0 auto;  // Auto margins can also help in centering
}
