/* Graphical variables */
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

/* External libraries */
@import "bootstrap";
@import "font-awesome";

/* Your CSS partials */
@import "components/index";
@import "pages/index";
@import "pages/transactions";

/* Custom CSS */

/* Styles for news feed */
.news-feed-header {
  font-size: 16px;
  color: #4B7F73; /* Example color: Bootstrap primary blue */
}

.news-feed-text {
  font-size: 16px;
  color: #333; /* Dark grey text */
  margin-bottom: 15px; /* Spacing below paragraphs */
}

.news-feed-main-header {
  margin-bottom: 30px; /* Increase spacing below the main header */
}

.news-feed-sub-header {
  margin-top: 20px; /* Adds additional space above sub-headers, if needed */
}

/* Styles for news feed column */
.news-feed-column {
  border: 1px solid #ccc; /* Adds a light grey border */
  padding: 10px; /* Adds some padding inside the box */
  margin-top: 10px; /* Adjusts positioning relative to the navbar */
  background-color: #F7FDF7; /* Light background color for the box */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow */
  border-radius: 5px;
}

/* Styles for navbar */
.navbar-lewagon {
  border-bottom: 2px solid #eee; /* Adds a bottom border to the navbar */
  margin-bottom: 2px;
}

/* Body styles */
body {
  background-color: #F7FDF7; /* Set the background color of the body */
}
