<div>
  <div class="d-flex justify-content-between">
    <h3 id="table-title">My Recent Trades</h3>
    <%= link_to "View full portfolio", portfolio_path(current_user), style: "color: black; text-decoration: underline; text-decoration-style: dotted;" %>
  </div>
  <%= render partial: 'shared/txn_table' %>
</div>
